@charset "UTF-8";
article.managerTable {
    background: #ecf0f7;
    padding: 10px;
}
article.managerTable table {
    text-align: center;
    width: 90%;
    border-top: 3px solid #5a90f3;
}

article.managerTable th {
    padding-top: 10px;
    padding-bottom: 10px;
}

article.managerTable thead {
    border-bottom: 1px solid #8eb0fd;
}

article.managerTable img.editbutton {
    height: 40px;
}

article.managerTable td {
    padding-top: 5px;
    padding-bottom: 5px;
}

article.managerTable tbody {
    border-bottom: 2px solid #5a90f3;
}