@charset "UTF-8";

#pack-list-detail {
	margin: 0 auto;
	display: flex;
	margin-bottom: 30px;
}

#left-menu {
	margin-left: 30px;
	/*background: purple;*/
	padding: 15px;
	display: flex;
	flex-direction: column;
}

#mid-line {
	display: block;
    width:2px;
    background-color:#003CA1;
    top:0;
    bottom:0;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
    
}


#right-menu {
	width: 78%;
	text-align: center;
	/*background: yellow;*/
}

#areaDetail-nav {

	display: flex;
	width: 70%;
	font-size: 14px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}

.areaDetail-sel {
	align-items: center;
	width: 158px;
	border: 1px solid gray;
	text-align: center;
	font-weight:600;
	margin: 3px;
}

.areaDetail-sel:hover {
	background: #8A8AE2;
	color: white;
}

.areaDetail-sel a {
	color: black;
	text-decoration: none;
	
}

#pack-space {
	/*background: blue;*/
	min-height: 300px;
	width: 70%;
	margin: 0 auto;
}

.de-li-pack {
	display: flex;
}

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset {
	width: 70%;
	margin: 0 auto;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}


.tabset {
  max-width: 65em;
}


/* ajax list css */

.pack-lii{
	display: flex;
	margin-bottom : 30px;
}

.info-box {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 23px;
}

#pack-ex{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pack-img {
	width: 200px;
	margin-right: 40px;	
}

.info-box, .pack-max {
	color: black;
	font-decoration:none;
	font-weight: 600;

}