@charset "UTF-8";

#packSel-body {
	background: lightblue;
	width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#left-menu {
	width:20%;
	background: purple;
}

#right-menu {
	width: 78%;
	background: yellow;
}

#title-tag {
	background: lightgray;
	height: 50px;
	width:100%;
	display: flex;
	align-items: center;
	
}

#title-tag div {
	border: 1px solid gray;
}

.contents-tag{
	background: coral;
	height: 50px;
	width:100%;
	display: flex;
	align-items: center;
	
}



.dep {
	text-align: center;
	width:24%;
}

.air {
	text-align: center;
	width:15%;	
}

.during {
	text-align: center;
	width:10%;		
}

.packname{
	text-align: center;
	width:27%;	
}

.price{
	text-align: center;
	width:14%;	
}

.res {
	text-align: center;
	width:10%;	
}