@charset "UTF-8";

#pack-cate {
	display: flex;
	
}

#pack-cate li {
	background: lightyellow;
	border: 1px solid gray;
}
#left-menu {
	width:20%;
	background: purple;
}

#right-menu {
	width: 78%;
	background: yellow;
}