@charset "UTF-8";

#pack-list-detail {
	display: flex;
}

#left-menu {
	width:18%;
	/*background: purple;*/
	padding: 15px;
	display: flex;
	flex-direction: column;
}

#right-menu {
	width: 78%;
	/*background: yellow;*/
}

#areaDetail-nav {

	display: flex;
	width: 70%;
	font-size: 14px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}

.areaDetail-sel {
	align-items: center;
	height: 40px;
	width: 170px;
	border: 1px solid gray;
	text-align: center;
}

.areaDetail-sel a {
	color: black;
	text-decoration: none;
	
}

#pack-space {
	background: blue;
	height: 300px;
	width: 70%;
	margin: 0 auto;
}

.de-li-pack {
	display: flex;
}