@charset "UTF-8";

#packSel-body {
	/*background: lightblue;*/
	margin: 0 auto;
	display: flex;
	margin-bottom: 30px;
}

#left-menu {
	margin-left: 30px;
	width:20%;
	/*background: purple;*/
}

#mid-line {
	display: block;
    width:2px;
    background-color:#003CA1;
    top:0;
    bottom:0;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
    
}

#right-menu {
	width: 75%;
	/*background: yellow;*/
}

#title-tag {
	/*background: lightgray;*/
	height: 50px;
	width:100%;
	display: flex;
	align-items: center;
	margin-top: 25px;
	border: 1px solid #8A8AE2;
	padding: 9px 0 9px 0;
	
}

#title-tag div {
	/*border: 1px solid gray;*/
}

.contents-tag{
	background: coral;
	height: 50px;
	width:100%;
	display: flex;
	align-items: center;
	
}

.cal-container {
	display: flex;
	justify-content: center;
	align-items: center;
}


.dep {
	text-align: center;
	width:24%;
}

.air {
	text-align: center;
	width:15%;	
}

.during {
	text-align: center;
	width:10%;		
}

.packname{
	font-weight: 800;
    font-size: 14px;
	text-align: center;
	width:27%;	
}

.price{
	text-align: center;
	width:14%;	
}

.res {
	text-align: center;
	width:10%;	
}

.res-btn-able {
	border: none;
	background: yellow;
	
}

.res-btn-cant {
	border: none;
}

.nameCss{
	color: black;
	text-decoration: none;
}


.ui-datepicker, .ui-datepicker-title{
	background: white;
}

.ui-datepicker .ui-datepicker-header{
	background: white;
}


.dateVal {
	margin-right: 80px;	
}

#dateDetail {
	margin-left: 80px;
	width:400px;
	text-align: left;
}

#dateDetail div {
	margin-bottom: 20px;
}

